@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --app-bg: #3931a9;
  --font-color: #212074;
  --expl-bg: #31A9A1;
  --hidden-bg: #FACC51;
  --shadow: 0 6px 6px -6px black;
  --border: solid 2px black;
}

body{
  margin: 1%;
  background-color: var(--app-bg);
  font-family: 'Open Sans', serif;
}

.App{
  border: var(--border);
  margin: 1%;
  background-color: white;
  box-shadow: var(--shadow)
}

img{
  width: auto;
  max-width: 95%;
  height: 40vh;
  max-height: 95%;
  box-shadow: var(--shadow);
  object-fit: cover
}

figcaption{
  display: block;
}

h1{
  margin: 5% 1% 5% 1%;
  text-align: center;
  border: var(--border);
  padding: 1%;
  box-shadow: var(--shadow);
  font-family: 'Acme', sans-serif;
  font-size: 300%;
  letter-spacing: 3px;
}

.story-container{
  width: 50vw; 
  height: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
  "image explanation"
  "description explanation";
  margin-right: auto;
  margin-left: 3%;
  padding: 1%; 
  margin-bottom: 2%;
}

.image-container{
  grid-area: image;
  display: block;
  text-align: center;
  border:var(--border);
  box-shadow: var(--shadow)
}

.description{
  grid-area: description;
  display: block;
  justify-content: left;
  color: black;
  font-weight: bold; 
  padding: 5%; 
  border: var(--border);
  box-shadow: var(--shadow)
}

.explanation-container{
  grid-area: explanation;
  justify-content: center;
  background-color: var(--hidden-bg);
  color: var(--hidden-bg);
  font-size: 1pt;
  width: 45vw;
  padding: 15%;
}

.explanation-container:hover{
  background-color: var(--expl-bg);
  color: var(--font-color);
  font-size: 100%;
  box-shadow: var(--shadow)
}

.explanation-container:hover h2{
  color: var(--hidden-bg);
  font-family: 'Acme', sans-serif;
  letter-spacing: 3px;
  font-size: calc(1.5vw + 1.5vh);
  text-shadow: 2px 2px black;
}

.explanation-container:hover p{
  padding-top: 10%;
  font-size: 125%;
}

.speech{
  background-color: white;
  border: var(--border);
  border-radius: 12px;
  display: inline-block;
  margin: .5em;
  padding: .5em 1em;
  position: relative;
  z-index: 2;
}

.speech:before{
  border: solid 12px transparent;
  border-left: solid 12px black;
  border-top: solid 12px black;
  bottom: -24px;
  content: "";
  height: 0;
  left: 2px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after{
  border: solid 10px transparent;
  border-left: solid 10px white;
  border-top: solid 10px white;
  bottom: -19px;
  content: "";
  height: 0;
  left: 2px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}