body{
  margin: 1%;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  width: auto;
  height: 30vh;
}

h1{
  margin: 5% 0 5% 0;
  text-align: center;
}

.story-container{
  width: 50vw; 
  height: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
  "image explanation"
  "description explanation";
  margin-right: auto;
  margin-left: 3%;
  padding: 1%; 
  margin-bottom: 2%;
}

.image-container{
  grid-area: image;
  display: flex;
  justify-content: center;
}

.description{
  grid-area: description;
  display: flex;
  justify-content: left;
  color: black;
  font-weight: bold; 
  padding: 0 5% 0 5%; 
}

.explanation-container{
  grid-area: explanation;
  display: flex;
  justify-content: center;
  background-color: #FACC51;
  color: #FACC51;
  font-size: 1pt;
  margin-left: 10%;
  width: 40vw;
  padding: 1%;
}

h2 {
  color: #FACC51;
  font-size: 200%;
}

.explanation-container p{
  padding-top: 10%;
}

.explanation-container:hover{
  background-color: #31A9A1;
  padding-top: 35%;
  color: rgb(247, 241, 236);
  font-size: 100%;
  padding: 25%;
}
